﻿@using PagedList;
@using PagedList.Mvc;

@{
    var pagedListObj = (PagedList <BECIT.NEOS.Admin.Models.UserModel>) ViewBag.pagedListObj;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                No
            </th>
            <th>
                User Name
            </th>
            <th>
                Title
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Last login
            </th>
            <th>
                User Role
            </th>

        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in pagedListObj)
        {
            i++;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.USERID
                </td>
                <td>
                    @item.TITLE
                </td>
                <td>
                    @item.FNAME
                </td>
                <td>
                    @item.LNAME
                </td>
                <td>
                    @item.lastlogin
                </td>
                <td>
                    @item.AppUserRoleDesc
                </td>
                <td>
                    <a class="btn default btn-xs purple" href="@Url.Action("InputForm", new { id=item.USERID})"><i class="fa fa-edit"></i>Edit</a>

                </td>
            </tr>
        }

    </tbody>
</table>

<div id="Paging">
    @Html.PagedListPager(pagedListObj, page => Url.Action("index", new { page }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "updatePanal" }))
</div>