﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UserReport.aspx.cs" Inherits="BECIT.NEOS.Admin.aspx.UserReport" %>

<%@ Register assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" namespace="Microsoft.Reporting.WebForms" tagprefix="rsweb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        <asp:ScriptManager ID="ScriptManager1" runat="server">
      </asp:ScriptManager>

        User Id<asp:Label ID="USERID" runat="server" Text="USERID"></asp:Label>
        First Name<asp:Label ID="FNAME" runat="server" Text="FNAME"></asp:Label>
        Last Name<asp:Label ID="LNAME" runat="server" Text="LNAME"></asp:Label>
        LastLogin From<asp:Label ID="lastloginFrom" runat="server" Text="lastloginFrom"></asp:Label>
        LastLogin To<asp:Label ID="lastloginTo" runat="server" Text="lastloginTo"></asp:Label>

        <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%">
        </rsweb:ReportViewer>
       
        
    </form>
</body>
</html>
