﻿@{
   @model BECIT.NEOS.Admin.Models.UserFilterModel
    ViewBag.Title = "Index";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<h2>Report Viewer</h2>
<form method="post">
    <input type="text" name="USERID" placeholder="User ID" value="@Model.USERID" />
    <input type="text" name="FNAME" placeholder="First Name" value="@Model.FNAME" />
    <input type="text" name="LNAME" placeholder="Last Name" value="@Model.LNAME" />
    <input type="text" name="lastloginFrom" placeholder="Lastlogin From" value="@Model.lastloginFrom" />
    <input type="text" name="lastloginTo" placeholder="Lastlogin To" value="@Model.lastloginTo" />
    <input type="submit" value="View" />
</form>
<iframe src="@Url.Content("~/aspx/UserReport.aspx?p=" + ViewBag.jsonQueryString)" width="100%" height="550px;"></iframe>
