﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<h2>Report File</h2>
<form method="post">
    <input type="text" name="keyword" placeholder="Name or User ID" value="@ViewBag.keyword" />
    <input type="submit" value="Export" />
</form>