﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<h2>Index</h2>
<form method="post">
    Fname<input type="text" name="fname" value="@ViewBag.fname" /><br />
    Lname<input type="text" name="lname" value="@ViewBag.lname" /><br />
    Email<input type="text" name="email" value="@ViewBag.email" /><br />
    <button type="submit" value="Submit"></button>
</form>
