﻿@{
    if (TempData["MessageResult"] != null)
    {
        var messageResult = (BECIT.NEOS.Admin.Models.MessageResultModel)TempData["MessageResult"];

        <div class="@messageResult.Styte">
            <button class="close" aria-hidden="true" type="button" data-dismiss="alert"></button>
            <strong>@messageResult.Title!</strong> @messageResult.Description
        </div>

        @*<div class="alert alert-warning">
            <button class="close" aria-hidden="true" type="button" data-dismiss="alert"></button>
            <strong>Warning!</strong> Something went wrong. Please check.
        </div>

        <div class="alert alert-success">
            <button class="close" aria-hidden="true" type="button" data-dismiss="alert"></button>
            <strong>Success!</strong> Something went wrong. Please check.
        </div>

        <div class="alert alert-danger">
            <button class="close" aria-hidden="true" type="button" data-dismiss="alert"></button>
            <strong>Error!</strong> Something went wrong. Please check.
        </div>*@

    }
}

